
/****************************************************************************************************
*                                           GLOBAL                                                  *
****************************************************************************************************/
body {
    background-image: url('images/bg.jpg');
}

.title-bright {
    color: white;
    font-weight: bold;
}
.neutral-bg {
    background-color: #eaecef;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
    padding: 5px;
}


/****************************************************************************************************
*                                           MANGA                                                   *
****************************************************************************************************/
#manga-main .manga-list-header {
    margin-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

    #image-display {
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .manga-line {
        border-top: 1px solid black;
        display: flex;
        width: 100%;
    }