
/****************************************************************************************************
*                                           GLOBAL                                                  *
****************************************************************************************************/
body {
    background-image: url('images/bg.jpg');
}

.title-bright {
    color: white;
    font-weight: bold;
}


/****************************************************************************************************
*                                           MANGA                                                   *
****************************************************************************************************/
